---
import Layout from '../layouts/Layout.astro';
import SimpleToastDemo from '../components/SimpleToastDemo.tsx';
---

<Layout title="Toast 提示组件演示">
  <main class="bg-gray-100 min-h-screen">
    <SimpleToastDemo client:load />
  </main>
</Layout> 